@{
    Layout = "_Layout";
    ViewData["Title"] = "Resultados del Quiz";

}
<div id="app" class="quiz-container mt-5">
    <div>
        <h1 class="quiz-title text-center m-xxl-5"><strong>{{quiz.Name}}</strong></h1>

        <h2 class="m-5">Resultados del Quiz:</h2>

        <table id="resultTable" class="display mt-4 table table-bordered">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Puntaje</th>
                    <th>Quiz</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ quiz.User }}</td>
                    <td>{{ quiz.Score }} / {{ totalScore }}</td>
                    <td>{{ quiz.Name }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


@section scripts {
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="~/js/QuizResult.js"></script>
}
