@{
    Layout = "_Layout";
    ViewData["Title"] = "Quiz";
}

<div id="app" class="quiz-container mt-5">
    <div>
        <h1 class="quiz-title text-center m-xxl-5"><strong>{{quiz.Name}}</strong></h1>

          <h2 class="m-5">{{"Pregunta no." + question.Index + ": " + question.Description}}</h2>
        <div class="row justify-content-center g-3">
            <div v-for="answer in question.Answers" :class="getClasses()">
                <button class="quiz-button w-100" @@click="selectAnswer(answer)">{{ answer.Description }}</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>window.user = @Html.Raw(Json.Serialize(ViewBag.User));</script>
    <script src="~/js/Quiz.js" defer></script>
}