.gradient-custom {
    /* fallback for old browsers */
}

.bg-login {
    background-image: url('/images/bosque.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
