[v-cloak] {
    display: none;
}

.bg-login {
    background-image: url('/images/skyBlur.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
